streamlit
pandas>=2.2
numpy
scikit-learn
spacy
sentence-transformers
pymysql
werkzeug
langdetect
pdfplumber
python-docx
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
