streamlit
pandas
numpy==1.26.4
scikit-learn
mysql-connector-python==8.3.0
langdetect==1.0.9
werkzeug==3.0.1
pymysql==1.1.0
sentence-transformers==2.6.1
spacy==3.7.2
torch==2.2.1
python-docx==1.1.0
pypdf==4.1.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
